In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../Atmospheric Data Cleaned Instances Per Day.csv")

In [3]:
df.head()

,Year,Month,Day,O3,NO2,NO,CO,PM10,PM2.5,Temp_Avg,RH_Avg,WSpeed_Avg,WDir_Avg,Press_Avg,Rad_Avg,Rain_Tot
0,2023,5,1,42.098597,2.377042,0.378701,0.269903,32.476493,20.131194,19.830514,29.753889,2.439608,154.966895,804.314569,630.264466,0.0
1,2023,5,2,44.560389,1.889646,0.215486,0.244556,28.960708,18.765649,20.916111,27.642535,2.883990,231.153622,803.925649,659.373538,0.0
2,2023,5,3,50.777618,4.491722,0.745514,0.397743,49.597222,35.021854,21.357729,30.954847,1.604234,178.251752,803.767500,485.725435,0.0
3,2023,5,4,50.881806,4.101944,0.455646,0.384681,48.555437,35.872396,21.968729,35.661208,1.729689,183.150144,804.870299,422.336301,0.0
4,2023,5,5,52.673167,4.675542,0.458521,0.442660,52.817632,41.230729,21.668757,42.649750,1.900280,137.419527,805.930109,449.436559,0.2

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 315 entries, 0 to 314
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        315 non-null    int64
 1   Month       315 non-null    int64
 2   Day         315 non-null    int64
 3   O3          315 non-null    float64
 4   NO2         315 non-null    float64
 5   NO          315 non-null    float64
 6   CO          315 non-null    float64
 7   PM10        315 non-null    float64
 8   PM2.5       315 non-null    float64
 9   Temp_Avg    315 non-null    float64
 10  RH_Avg      315 non-null    float64
 11  WSpeed_Avg  315 non-null    float64
 12  WDir_Avg    315 non-null    float64
 13  Press_Avg   315 non-null    float64
 14  Rad_Avg     315 non-null    float64
 15  Rain_Tot    315 non-null    float64
dtypes: float64(13), int64(3)
memory usage: 39.5 KB

In [5]:
df_subset = df[["PM2.5", "Rain_Tot"]]

In [6]:
df_subset.head()

       PM2.5  Rain_Tot
0  20.131194       0.0
1  18.765649       0.0
2  35.021854       0.0
3  35.872396       0.0
4  41.230729       0.2

In [7]:
df_with_rain = df_subset[df_subset["Rain_Tot"] != 0]
df_no_rain = df_subset[df_subset["Rain_Tot"] == 0]

In [8]:
df_with_rain.head()

        PM2.5  Rain_Tot
4   41.230729       0.2
8   33.465424       0.3
9   43.092472       0.1
15  24.928187       0.2
17  24.087500       0.7

In [9]:
df_no_rain.head()

       PM2.5  Rain_Tot
0  20.131194       0.0
1  18.765649       0.0
2  35.021854       0.0
3  35.872396       0.0
5  36.007222       0.0

In [10]:
df_with_rain.shape[0] + df_no_rain.shape[0] == df_subset.shape[0]

True

In [11]:
df_with_rain.to_csv("Ozone_With_Rain.csv", index=False)
df_no_rain.to_csv("Ozone_no_rain.csv", index=False)