Since we are going to test for normality, we are going to create a dataset with the variables we want to test for normality.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
PATH = "../../DataCleaning/"

In [3]:
df = pd.read_csv(PATH + "Atmospheric Data With No Missing Values.csv")

In [4]:
df.head()

,O3,O3_flag,NO2,NO2_flag,NO,NO_flag,CO,CO_flag,PM10,PM10_flag,...,WDir_Avg,WDir_SD,Rain_Tot,Press_Avg,Rad_Avg,Year,Month,Day,Hour,Minute
0,55.48,OK,0.72,OK,0.2,BDL,0.25,OK,25.47,OK,...,173.6,14.26,0.0,805.409,NaN,2023,5,1,0,0
1,55.49,OK,0.81,OK,0.2,BDL,0.26,OK,25.74,OK,...,171.0,10.53,0.0,805.524,NaN,2023,5,1,0,1
2,55.40,OK,0.93,OK,0.2,BDL,0.27,OK,26.60,OK,...,178.6,15.72,0.0,805.436,NaN,2023,5,1,0,2
3,55.20,OK,0.87,OK,0.2,BDL,0.28,OK,27.59,OK,...,186.1,17.43,0.0,805.450,NaN,2023,5,1,0,3
4,55.41,OK,0.98,OK,0.2,BDL,0.28,OK,27.83,OK,...,211.5,21.67,0.0,805.504,NaN,2023,5,1,0,4

In [5]:
df.columns

Index(['O3', 'O3_flag', 'NO2', 'NO2_flag', 'NO', 'NO_flag', 'CO', 'CO_flag',
       'PM10', 'PM10_flag', 'PM2.5', 'PM2.5_flag', 'Temp_Avg', 'RH_Avg',
       'WSpeed_Avg', 'WSpeed_Max', 'WDir_Avg', 'WDir_SD', 'Rain_Tot',
       'Press_Avg', 'Rad_Avg', 'Year', 'Month', 'Day', 'Hour', 'Minute'],
      dtype='object')

In [6]:
df[["O3", "NO2", "NO", "CO", "PM10", "PM2.5", "Temp_Avg", "RH_Avg", "WSpeed_Avg", "WDir_Avg", "Rain_Tot", "Press_Avg", "Rad_Avg"]].to_csv("VariablesToTestNormality.csv", index=False)