In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df1 = pd.read_csv("Atmospheric Data Precleaned.csv")

In [3]:
df1.head()

,Time,O3,O3_flag,NO2,NO2_flag,NO,NO_flag,CO,CO_flag,PM10,...,PM2.5_flag,Temp_Avg,RH_Avg,WSpeed_Avg,WSpeed_Max,WDir_Avg,WDir_SD,Rain_Tot,Press_Avg,Rad_Avg
0,2023-05-01 00:00:00,55.48,OK,0.72,OK,0.01,BDL,0.25,OK,25.47,...,OK,19.15,31.64,3.521,4.250,173.6,14.26,0.0,805.409,-1.521
1,2023-05-01 00:01:00,55.49,OK,0.81,OK,0.08,BDL,0.26,OK,25.74,...,OK,19.11,31.66,3.644,4.372,171.0,10.53,0.0,805.524,-1.521
2,2023-05-01 00:02:00,55.40,OK,0.93,OK,-0.05,BDL,0.27,OK,26.60,...,OK,19.09,31.70,4.139,5.253,178.6,15.72,0.0,805.436,-2.074
3,2023-05-01 00:03:00,55.20,OK,0.87,OK,0.03,BDL,0.28,OK,27.59,...,OK,19.10,31.76,3.692,4.925,186.1,17.43,0.0,805.450,-2.397
4,2023-05-01 00:04:00,55.41,OK,0.98,OK,-0.06,BDL,0.28,OK,27.83,...,OK,19.10,31.76,2.198,4.301,211.5,21.67,0.0,805.504,-1.706

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 408971 entries, 0 to 408970
Data columns (total 22 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Time        408971 non-null  object
 1   O3          403172 non-null  float64
 2   O3_flag     408971 non-null  object
 3   NO2         408725 non-null  float64
 4   NO2_flag    408971 non-null  object
 5   NO          408725 non-null  float64
 6   NO_flag     408971 non-null  object
 7   CO          408870 non-null  float64
 8   CO_flag     408971 non-null  object
 9   PM10        408863 non-null  float64
 10  PM10_flag   408971 non-null  object
 11  PM2.5       408860 non-null  float64
 12  PM2.5_flag  408971 non-null  object
 13  Temp_Avg    408964 non-null  float64
 14  RH_Avg      408964 non-null  float64
 15  WSpeed_Avg  408964 non-null  float64
 16  WSpeed_Max  408964 non-null  float64
 17  WDir_Avg    408964 non-null  float64
 18  WDir_SD     408964 non-null  float64
 19  Rain_Tot    408964 non-null  float64
 20  Press_Avg   408964 non-null  float64
 21  Rad_Avg     408958 non-null  float64
dtypes: float64(15), object(7)
memory usage: 68.6+ MB

Checking atmospheric data flags

In [5]:
df1["O3_flag"].value_counts()

O3_flag
OK     401873
OS       5799
BDL      1282
OR         17
Name: count, dtype: int64

In [6]:
df1[(df1["O3_flag"] == "OS")]["O3"].value_counts()

Series([], Name: count, dtype: int64)

In [7]:
df1["NO2_flag"].value_counts()

NO2_flag
OK     406048
BDL      2616
OS        246
OR         61
Name: count, dtype: int64

In [8]:
df1["NO_flag"].value_counts()

NO_flag
BDL    317708
OK      90814
OS        246
OR        203
Name: count, dtype: int64

In [9]:
df1["CO_flag"].value_counts()

CO_flag
OK     402781
BDL      5981
OR        108
OS        101
Name: count, dtype: int64

In [10]:
df1["PM10_flag"].value_counts()

PM10_flag
OK     382706
BDL     23272
OR       2885
OS        108
Name: count, dtype: int64

In [11]:
df1["PM2.5_flag"].value_counts()

PM2.5_flag
OK     355963
BDL     44671
OR       8226
OS        111
Name: count, dtype: int64

We are going to eliminate null pollution data for our statistics analysis. So, we can drop those instances that has any flag out of service

In [12]:
df2 = df1.drop(df1[(df1["O3_flag"] == "OS") | (df1["NO2_flag"] == "OS") | (df1["NO_flag"] == "OS") | (df1["CO_flag"] == "OS") | (df1["PM10_flag"] == "OS") | (df1["PM2.5_flag"] == "OS")].index, axis=0)

In [13]:
df2.head()

,Time,O3,O3_flag,NO2,NO2_flag,NO,NO_flag,CO,CO_flag,PM10,...,PM2.5_flag,Temp_Avg,RH_Avg,WSpeed_Avg,WSpeed_Max,WDir_Avg,WDir_SD,Rain_Tot,Press_Avg,Rad_Avg
0,2023-05-01 00:00:00,55.48,OK,0.72,OK,0.01,BDL,0.25,OK,25.47,...,OK,19.15,31.64,3.521,4.250,173.6,14.26,0.0,805.409,-1.521
1,2023-05-01 00:01:00,55.49,OK,0.81,OK,0.08,BDL,0.26,OK,25.74,...,OK,19.11,31.66,3.644,4.372,171.0,10.53,0.0,805.524,-1.521
2,2023-05-01 00:02:00,55.40,OK,0.93,OK,-0.05,BDL,0.27,OK,26.60,...,OK,19.09,31.70,4.139,5.253,178.6,15.72,0.0,805.436,-2.074
3,2023-05-01 00:03:00,55.20,OK,0.87,OK,0.03,BDL,0.28,OK,27.59,...,OK,19.10,31.76,3.692,4.925,186.1,17.43,0.0,805.450,-2.397
4,2023-05-01 00:04:00,55.41,OK,0.98,OK,-0.06,BDL,0.28,OK,27.83,...,OK,19.10,31.76,2.198,4.301,211.5,21.67,0.0,805.504,-1.706

In [14]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 403017 entries, 0 to 408970
Data columns (total 22 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Time        403017 non-null  object
 1   O3          403017 non-null  float64
 2   O3_flag     403017 non-null  object
 3   NO2         403017 non-null  float64
 4   NO2_flag    403017 non-null  object
 5   NO          403017 non-null  float64
 6   NO_flag     403017 non-null  object
 7   CO          403017 non-null  float64
 8   CO_flag     403017 non-null  object
 9   PM10        403017 non-null  float64
 10  PM10_flag   403017 non-null  object
 11  PM2.5       403017 non-null  float64
 12  PM2.5_flag  403017 non-null  object
 13  Temp_Avg    403010 non-null  float64
 14  RH_Avg      403010 non-null  float64
 15  WSpeed_Avg  403010 non-null  float64
 16  WSpeed_Max  403010 non-null  float64
 17  WDir_Avg    403010 non-null  float64
 18  WDir_SD     403010 non-null  float64
 19  Rain_Tot    403010 non-null  float64
 20  Press_Avg   403010 non-null  float64
 21  Rad_Avg     403004 non-null  float64
dtypes: float64(15), object(7)
memory usage: 70.7+ MB

In [15]:
df2["O3_flag"].value_counts()

O3_flag
OK     401719
BDL      1282
OR         16
Name: count, dtype: int64

In [16]:
df2["NO2_flag"].value_counts()

NO2_flag
OK     400340
BDL      2616
OR         61
Name: count, dtype: int64

In [17]:
df2["NO_flag"].value_counts()

NO_flag
BDL    313174
OK      89640
OR        203
Name: count, dtype: int64

In [18]:
df2["CO_flag"].value_counts()

CO_flag
OK     396928
BDL      5981
OR        108
Name: count, dtype: int64

In [19]:
df2["PM10_flag"].value_counts()

PM10_flag
OK     376860
BDL     23272
OR       2885
Name: count, dtype: int64

In [20]:
df2["PM2.5_flag"].value_counts()

PM2.5_flag
OK     350157
BDL     44634
OR       8226
Name: count, dtype: int64

Checking pollution data behind limit detection and span limit detection

| Pollutant | Analytical method | Detection limit | Span limit |
| - | - | - | - |
| O3 | UV absorption photometry | 0.03 ppb | 500 ppb |
| CO | Non-dispersive infrared | 0.04 ppm | 25 ppm |
| NO2, NO | Chemiluminescence | 0.4 ppb | 0.3, 0.5 ppm (NO2, NO) |
| PM2.5 | Separation by diameter and quantification by beta radiation attenuation | 4 ug/m^3 | 400 ug/m^3 |
| PM10 | Separation by diameter and quantification by beta radiation attenuation | 4 ug/m^3 | 400 ug/m^3 |

If any data exceeds the span limit, it must be null (as it may be an electronic or calibration outlier).

On the other hand, if data falls below the detection limit, we need to verify if it is within the positive and negative range of the detection limit value. If it falls within that range, we will change its value to half of the detection limit. If it falls outside the range, it must be null.

In [21]:
def O3_processing(data):
    if data > 500 or data < -0.03: return np.nan
    if data < 0.03 and data >= -0.03: return 0.03/2
    return data

def CO_processing(data):
    if data > 25 or data < -0.04: return np.nan
    if data < 0.04 and data >= -0.04: return 0.04/2
    return data

def NO2_processing(data):
    if data > 300 or data < -0.4: return np.nan
    if data < 0.4 and data >= -0.4: return 0.4/2
    return data

def NO_processing(data):
    if data > 500 or data < -0.4: return np.nan
    if data < 0.4 and data >= -0.4: return 0.4/2
    return data

def PM25_processing(data):
    if data > 400 or data < -4: return np.nan
    if data < 4 and data >= -4: return 4/2
    return data

def PM10_processing(data):
    if data > 400 or data < -4: return np.nan
    if data < 4 and data >= -4: return 4/2
    return data

In [22]:
df3 = df2.iloc[:,:]
df3["O3"] = df3["O3"].apply(O3_processing)
df3["CO"] = df3["CO"].apply(CO_processing)
df3["NO2"] = df3["NO2"].apply(NO2_processing)
df3["NO"] = df3["NO"].apply(NO_processing)
df3["PM2.5"] = df3["PM2.5"].apply(PM25_processing)
df3["PM10"] = df3["PM10"].apply(PM10_processing)

In [23]:
df2.head()

,Time,O3,O3_flag,NO2,NO2_flag,NO,NO_flag,CO,CO_flag,PM10,...,PM2.5_flag,Temp_Avg,RH_Avg,WSpeed_Avg,WSpeed_Max,WDir_Avg,WDir_SD,Rain_Tot,Press_Avg,Rad_Avg
0,2023-05-01 00:00:00,55.48,OK,0.72,OK,0.01,BDL,0.25,OK,25.47,...,OK,19.15,31.64,3.521,4.250,173.6,14.26,0.0,805.409,-1.521
1,2023-05-01 00:01:00,55.49,OK,0.81,OK,0.08,BDL,0.26,OK,25.74,...,OK,19.11,31.66,3.644,4.372,171.0,10.53,0.0,805.524,-1.521
2,2023-05-01 00:02:00,55.40,OK,0.93,OK,-0.05,BDL,0.27,OK,26.60,...,OK,19.09,31.70,4.139,5.253,178.6,15.72,0.0,805.436,-2.074
3,2023-05-01 00:03:00,55.20,OK,0.87,OK,0.03,BDL,0.28,OK,27.59,...,OK,19.10,31.76,3.692,4.925,186.1,17.43,0.0,805.450,-2.397
4,2023-05-01 00:04:00,55.41,OK,0.98,OK,-0.06,BDL,0.28,OK,27.83,...,OK,19.10,31.76,2.198,4.301,211.5,21.67,0.0,805.504,-1.706

In [24]:
df3.head()

,Time,O3,O3_flag,NO2,NO2_flag,NO,NO_flag,CO,CO_flag,PM10,...,PM2.5_flag,Temp_Avg,RH_Avg,WSpeed_Avg,WSpeed_Max,WDir_Avg,WDir_SD,Rain_Tot,Press_Avg,Rad_Avg
0,2023-05-01 00:00:00,55.48,OK,0.72,OK,0.2,BDL,0.25,OK,25.47,...,OK,19.15,31.64,3.521,4.250,173.6,14.26,0.0,805.409,-1.521
1,2023-05-01 00:01:00,55.49,OK,0.81,OK,0.2,BDL,0.26,OK,25.74,...,OK,19.11,31.66,3.644,4.372,171.0,10.53,0.0,805.524,-1.521
2,2023-05-01 00:02:00,55.40,OK,0.93,OK,0.2,BDL,0.27,OK,26.60,...,OK,19.09,31.70,4.139,5.253,178.6,15.72,0.0,805.436,-2.074
3,2023-05-01 00:03:00,55.20,OK,0.87,OK,0.2,BDL,0.28,OK,27.59,...,OK,19.10,31.76,3.692,4.925,186.1,17.43,0.0,805.450,-2.397
4,2023-05-01 00:04:00,55.41,OK,0.98,OK,0.2,BDL,0.28,OK,27.83,...,OK,19.10,31.76,2.198,4.301,211.5,21.67,0.0,805.504,-1.706

In [25]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 403017 entries, 0 to 408970
Data columns (total 22 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Time        403017 non-null  object
 1   O3          402971 non-null  float64
 2   O3_flag     403017 non-null  object
 3   NO2         402956 non-null  float64
 4   NO2_flag    403017 non-null  object
 5   NO          402814 non-null  float64
 6   NO_flag     403017 non-null  object
 7   CO          402909 non-null  float64
 8   CO_flag     403017 non-null  object
 9   PM10        400054 non-null  float64
 10  PM10_flag   403017 non-null  object
 11  PM2.5       394790 non-null  float64
 12  PM2.5_flag  403017 non-null  object
 13  Temp_Avg    403010 non-null  float64
 14  RH_Avg      403010 non-null  float64
 15  WSpeed_Avg  403010 non-null  float64
 16  WSpeed_Max  403010 non-null  float64
 17  WDir_Avg    403010 non-null  float64
 18  WDir_SD     403010 non-null  float64
 19  Rain_Tot    403010 non-null  float64
 20  Press_Avg   403010 non-null  float64
 21  Rad_Avg     403004 non-null  float64
dtypes: float64(15), object(7)
memory usage: 70.7+ MB

Checking meteorological variables

In [26]:
df3["Temp_Avg"].describe()

count    403010.000000
mean         18.023412
std           5.174202
min           2.966000
25%          14.650000
50%          17.730000
75%          21.710000
max          33.570000
Name: Temp_Avg, dtype: float64

In [27]:
df3["RH_Avg"].describe()

count    403010.000000
mean         63.074023
std          22.334623
min           7.406000
25%          46.170000
50%          64.680000
75%          82.300000
max          99.900000
Name: RH_Avg, dtype: float64

In [28]:
df3["WSpeed_Avg"].describe()

count    403010.000000
mean          1.516865
std           1.492161
min           0.000000
25%           0.145000
50%           1.172000
75%           2.386000
max          17.150000
Name: WSpeed_Avg, dtype: float64

In [29]:
df3["WSpeed_Max"].describe()

count    403010.000000
mean          1.994164
std           1.885134
min           0.000000
25%           0.410000
50%           1.556000
75%           3.072000
max          18.780000
Name: WSpeed_Max, dtype: float64

In [30]:
df3["WDir_Avg"].describe()

count    403010.000000
mean        142.570308
std         107.842669
min           0.000000
25%          40.160000
50%         143.900000
75%         225.700000
max         360.000000
Name: WDir_Avg, dtype: float64

In [31]:
df3["WDir_SD"].describe()

count    403010.000000
mean          9.343657
std          10.090872
min           0.000000
25%           0.076000
50%           7.467000
75%          14.010000
max         102.700000
Name: WDir_SD, dtype: float64

In [32]:
df3["Rain_Tot"].describe()

count    403010.000000
mean          0.001136
std           0.020003
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.800000
Name: Rain_Tot, dtype: float64

In [33]:
df3["Press_Avg"].describe()

count    403010.000000
mean        805.890962
std           1.843219
min         797.895000
25%         804.696000
50%         805.931000
75%         807.145000
max         812.652000
Name: Press_Avg, dtype: float64

In [34]:
df3["Rad_Avg"].describe()

count    403004.000000
mean        241.493380
std         350.539892
min         -16.090000
25%          -1.198000
50%           3.365000
75%         422.200000
max        1439.000000
Name: Rad_Avg, dtype: float64

It seems like the only variable that must be cleaned is Rad_Avg

**Radiation (Rad_Avg)**

A simple filter is used for the Rad_Avg column: values greater than 0.001 are left in the column,
and the rest are replaced by null.

In [35]:
def rad_processing(data):
    if data < 0.001: return np.nan
    return data

In [36]:
df4 = df3.iloc[:,:]
df4["Rad_Avg"] = df4["Rad_Avg"].apply(rad_processing)

In [37]:
df4["Rad_Avg"].describe()

count    211218.000000
mean        461.952268
std         363.761674
min           0.046000
25%         124.700000
50%         390.300000
75%         790.800000
max        1439.000000
Name: Rad_Avg, dtype: float64

In [38]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 403017 entries, 0 to 408970
Data columns (total 22 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Time        403017 non-null  object
 1   O3          402971 non-null  float64
 2   O3_flag     403017 non-null  object
 3   NO2         402956 non-null  float64
 4   NO2_flag    403017 non-null  object
 5   NO          402814 non-null  float64
 6   NO_flag     403017 non-null  object
 7   CO          402909 non-null  float64
 8   CO_flag     403017 non-null  object
 9   PM10        400054 non-null  float64
 10  PM10_flag   403017 non-null  object
 11  PM2.5       394790 non-null  float64
 12  PM2.5_flag  403017 non-null  object
 13  Temp_Avg    403010 non-null  float64
 14  RH_Avg      403010 non-null  float64
 15  WSpeed_Avg  403010 non-null  float64
 16  WSpeed_Max  403010 non-null  float64
 17  WDir_Avg    403010 non-null  float64
 18  WDir_SD     403010 non-null  float64
 19  Rain_Tot    403010 non-null  float64
 20  Press_Avg   403010 non-null  float64
 21  Rad_Avg     211218 non-null  float64
dtypes: float64(15), object(7)
memory usage: 70.7+ MB

In [39]:
df4.to_csv("Atmospheric Data Cleaned.csv", index=False)

Let's create another DataFrame with time information in a more user-friendly format.

In [40]:
df5 = df4.iloc[:,:]

In [41]:
df5["Time"].head()

0    2023-05-01 00:00:00
1    2023-05-01 00:01:00
2    2023-05-01 00:02:00
3    2023-05-01 00:03:00
4    2023-05-01 00:04:00
Name: Time, dtype: object

In [42]:
def year(time):
    return int(time[:4])

def month(time):
    return int(time[5:7])

def day(time):
    return int(time[8:10])

def hour(time):
    return int(time[11:13])

def minute(time):
    return int(time[14:16])

In [43]:
df5["Year"] = df5["Time"].apply(year)
df5["Month"] = df5["Time"].apply(month)
df5["Day"] = df5["Time"].apply(day)
df5["Hour"] = df5["Time"].apply(hour)
df5["Minute"] = df5["Time"].apply(minute)

In [44]:
df5.drop("Time", axis=1, inplace=True)

In [45]:
df5.head()

,O3,O3_flag,NO2,NO2_flag,NO,NO_flag,CO,CO_flag,PM10,PM10_flag,...,WDir_Avg,WDir_SD,Rain_Tot,Press_Avg,Rad_Avg,Year,Month,Day,Hour,Minute
0,55.48,OK,0.72,OK,0.2,BDL,0.25,OK,25.47,OK,...,173.6,14.26,0.0,805.409,NaN,2023,5,1,0,0
1,55.49,OK,0.81,OK,0.2,BDL,0.26,OK,25.74,OK,...,171.0,10.53,0.0,805.524,NaN,2023,5,1,0,1
2,55.40,OK,0.93,OK,0.2,BDL,0.27,OK,26.60,OK,...,178.6,15.72,0.0,805.436,NaN,2023,5,1,0,2
3,55.20,OK,0.87,OK,0.2,BDL,0.28,OK,27.59,OK,...,186.1,17.43,0.0,805.450,NaN,2023,5,1,0,3
4,55.41,OK,0.98,OK,0.2,BDL,0.28,OK,27.83,OK,...,211.5,21.67,0.0,805.504,NaN,2023,5,1,0,4

In [46]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 403017 entries, 0 to 408970
Data columns (total 26 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   O3          402971 non-null  float64
 1   O3_flag     403017 non-null  object
 2   NO2         402956 non-null  float64
 3   NO2_flag    403017 non-null  object
 4   NO          402814 non-null  float64
 5   NO_flag     403017 non-null  object
 6   CO          402909 non-null  float64
 7   CO_flag     403017 non-null  object
 8   PM10        400054 non-null  float64
 9   PM10_flag   403017 non-null  object
 10  PM2.5       394790 non-null  float64
 11  PM2.5_flag  403017 non-null  object
 12  Temp_Avg    403010 non-null  float64
 13  RH_Avg      403010 non-null  float64
 14  WSpeed_Avg  403010 non-null  float64
 15  WSpeed_Max  403010 non-null  float64
 16  WDir_Avg    403010 non-null  float64
 17  WDir_SD     403010 non-null  float64
 18  Rain_Tot    403010 non-null  float64
 19  Press_Avg   403010 non-null  float64
 20  Rad_Avg     211218 non-null  float64
 21  Year        403017 non-null  int64
 22  Month       403017 non-null  int64
 23  Day         403017 non-null  int64
 24  Hour        403017 non-null  int64
 25  Minute      403017 non-null  int64
dtypes: float64(15), int64(5), object(6)
memory usage: 83.0+ MB

Save the dataset, and we're finished with data cleaning.

In [47]:
df5.to_csv("Atmospheric Data Cleaned - Time Format.csv", index=False)