In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df1 = pd.read_csv("Atmospheric Data Precleaned.csv")

In [3]:
df1.head()

,Time,O3,O3_flag,NO2,NO2_flag,NO,NO_flag,CO,CO_flag,PM10,...,PM2.5_flag,Temp_Avg,RH_Avg,WSpeed_Avg,WSpeed_Max,WDir_Avg,WDir_SD,Rain_Tot,Press_Avg,Rad_Avg
0,2023-05-01 00:00:00,55.48,OK,0.72,OK,0.01,BDL,0.25,OK,25.47,...,OK,19.15,31.64,3.521,4.250,173.6,14.26,0.0,805.409,-1.521
1,2023-05-01 00:01:00,55.49,OK,0.81,OK,0.08,BDL,0.26,OK,25.74,...,OK,19.11,31.66,3.644,4.372,171.0,10.53,0.0,805.524,-1.521
2,2023-05-01 00:02:00,55.40,OK,0.93,OK,-0.05,BDL,0.27,OK,26.60,...,OK,19.09,31.70,4.139,5.253,178.6,15.72,0.0,805.436,-2.074
3,2023-05-01 00:03:00,55.20,OK,0.87,OK,0.03,BDL,0.28,OK,27.59,...,OK,19.10,31.76,3.692,4.925,186.1,17.43,0.0,805.450,-2.397
4,2023-05-01 00:04:00,55.41,OK,0.98,OK,-0.06,BDL,0.28,OK,27.83,...,OK,19.10,31.76,2.198,4.301,211.5,21.67,0.0,805.504,-1.706

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 408971 entries, 0 to 408970
Data columns (total 22 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Time        408971 non-null  object
 1   O3          403172 non-null  float64
 2   O3_flag     408971 non-null  object
 3   NO2         408725 non-null  float64
 4   NO2_flag    408971 non-null  object
 5   NO          408725 non-null  float64
 6   NO_flag     408971 non-null  object
 7   CO          408870 non-null  float64
 8   CO_flag     408971 non-null  object
 9   PM10        408863 non-null  float64
 10  PM10_flag   408971 non-null  object
 11  PM2.5       408860 non-null  float64
 12  PM2.5_flag  408971 non-null  object
 13  Temp_Avg    408964 non-null  float64
 14  RH_Avg      408964 non-null  float64
 15  WSpeed_Avg  408964 non-null  float64
 16  WSpeed_Max  408964 non-null  float64
 17  WDir_Avg    408964 non-null  float64
 18  WDir_SD     408964 non-null  float64
 19  Rain_Tot    408964 non-null  float64
 20  Press_Avg   408964 non-null  float64
 21  Rad_Avg     408958 non-null  float64
dtypes: float64(15), object(7)
memory usage: 68.6+ MB

Checking atmospheric data flags

In [5]:
df1["O3_flag"].value_counts()

O3_flag
OK     401873
OS       5799
BDL      1282
OR         17
Name: count, dtype: int64

In [6]:
df1[(df1["O3_flag"] == "OS")]["O3"].value_counts()

Series([], Name: count, dtype: int64)

In [7]:
df1["NO2_flag"].value_counts()

NO2_flag
OK     406048
BDL      2616
OS        246
OR         61
Name: count, dtype: int64

In [8]:
df1["NO_flag"].value_counts()

NO_flag
BDL    317708
OK      90814
OS        246
OR        203
Name: count, dtype: int64

In [9]:
df1["CO_flag"].value_counts()

CO_flag
OK     402781
BDL      5981
OR        108
OS        101
Name: count, dtype: int64

In [10]:
df1["PM10_flag"].value_counts()

PM10_flag
OK     382706
BDL     23272
OR       2885
OS        108
Name: count, dtype: int64

In [11]:
df1["PM2.5_flag"].value_counts()

PM2.5_flag
OK     355963
BDL     44671
OR       8226
OS        111
Name: count, dtype: int64

We are going to eliminate null pollution data for our statistics analysis. So, we can drop those instances that has any flag out of service

In [12]:
df2 = df1.drop(df1[(df1["O3_flag"] == "OS") | (df1["NO2_flag"] == "OS") | (df1["NO_flag"] == "OS") | (df1["CO_flag"] == "OS") | (df1["PM10_flag"] == "OS") | (df1["PM2.5_flag"] == "OS")].index, axis=0)

In [13]:
df2.head()

,Time,O3,O3_flag,NO2,NO2_flag,NO,NO_flag,CO,CO_flag,PM10,...,PM2.5_flag,Temp_Avg,RH_Avg,WSpeed_Avg,WSpeed_Max,WDir_Avg,WDir_SD,Rain_Tot,Press_Avg,Rad_Avg
0,2023-05-01 00:00:00,55.48,OK,0.72,OK,0.01,BDL,0.25,OK,25.47,...,OK,19.15,31.64,3.521,4.250,173.6,14.26,0.0,805.409,-1.521
1,2023-05-01 00:01:00,55.49,OK,0.81,OK,0.08,BDL,0.26,OK,25.74,...,OK,19.11,31.66,3.644,4.372,171.0,10.53,0.0,805.524,-1.521
2,2023-05-01 00:02:00,55.40,OK,0.93,OK,-0.05,BDL,0.27,OK,26.60,...,OK,19.09,31.70,4.139,5.253,178.6,15.72,0.0,805.436,-2.074
3,2023-05-01 00:03:00,55.20,OK,0.87,OK,0.03,BDL,0.28,OK,27.59,...,OK,19.10,31.76,3.692,4.925,186.1,17.43,0.0,805.450,-2.397
4,2023-05-01 00:04:00,55.41,OK,0.98,OK,-0.06,BDL,0.28,OK,27.83,...,OK,19.10,31.76,2.198,4.301,211.5,21.67,0.0,805.504,-1.706

In [14]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 403017 entries, 0 to 408970
Data columns (total 22 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Time        403017 non-null  object
 1   O3          403017 non-null  float64
 2   O3_flag     403017 non-null  object
 3   NO2         403017 non-null  float64
 4   NO2_flag    403017 non-null  object
 5   NO          403017 non-null  float64
 6   NO_flag     403017 non-null  object
 7   CO          403017 non-null  float64
 8   CO_flag     403017 non-null  object
 9   PM10        403017 non-null  float64
 10  PM10_flag   403017 non-null  object
 11  PM2.5       403017 non-null  float64
 12  PM2.5_flag  403017 non-null  object
 13  Temp_Avg    403010 non-null  float64
 14  RH_Avg      403010 non-null  float64
 15  WSpeed_Avg  403010 non-null  float64
 16  WSpeed_Max  403010 non-null  float64
 17  WDir_Avg    403010 non-null  float64
 18  WDir_SD     403010 non-null  float64
 19  Rain_Tot    403010 non-null  float64
 20  Press_Avg   403010 non-null  float64
 21  Rad_Avg     403004 non-null  float64
dtypes: float64(15), object(7)
memory usage: 70.7+ MB

In [15]:
df2["O3_flag"].value_counts()

O3_flag
OK     401719
BDL      1282
OR         16
Name: count, dtype: int64

In [16]:
df2["NO2_flag"].value_counts()

NO2_flag
OK     400340
BDL      2616
OR         61
Name: count, dtype: int64

In [17]:
df2["NO_flag"].value_counts()

NO_flag
BDL    313174
OK      89640
OR        203
Name: count, dtype: int64

In [18]:
df2["CO_flag"].value_counts()

CO_flag
OK     396928
BDL      5981
OR        108
Name: count, dtype: int64

In [19]:
df2["PM10_flag"].value_counts()

PM10_flag
OK     376860
BDL     23272
OR       2885
Name: count, dtype: int64

In [20]:
df2["PM2.5_flag"].value_counts()

PM2.5_flag
OK     350157
BDL     44634
OR       8226
Name: count, dtype: int64

Checking pollution data behind limit detection and span limit detection

| Pollutant | Analytical method | Detection limit | Span limit |
| - | - | - | - |
| O3 | UV absorption photometry | 0.03 ppb | 500 ppb |
| CO | Non-dispersive infrared | 0.04 ppm | 25 ppm |
| NO2, NO | Chemiluminescence | 0.4 ppb | 0.3, 0.5 ppm (NO2, NO) |
| PM2.5 | Separation by diameter and quantification by beta radiation attenuation | 4 ug/m^3 | 400 ug/m^3 |
| PM10 | Separation by diameter and quantification by beta radiation attenuation | 4 ug/m^3 | 400 ug/m^3 |