In [1]:
import pandas as pd
import os

In [2]:
PATH = "../Datasets/CO/"

In [3]:
titles = os.listdir(PATH)

Reading files

In [4]:
df = pd.read_excel(PATH + titles[0])

In [5]:
df

     Parámetro       Fecha           Hora  Concentraciones horarias Unidad
0          NaN         NaN            NaN                       NaN    NaN
1           CO  2019-01-07  17:00 - 18:00                      0.00    ppm
2           CO  2019-01-14    7:00 - 8:00                      0.00    ppm
3           CO  2019-02-06  12:00 - 13:00                      0.00    ppm
4           CO  2019-02-08  13:00 - 14:00                      0.00    ppm
...        ...         ...            ...                       ...    ...
7232        CO  2020-03-02  18:00 - 19:00                      0.21    ppm
7233        CO  2020-03-02  19:00 - 20:00                      0.36    ppm
7234        CO  2020-03-02  20:00 - 21:00                      0.37    ppm
7235        CO  2020-03-02  21:00 - 22:00                      0.39    ppm
7236        CO  2020-03-02  22:00 - 23:00                      0.36    ppm

[7237 rows x 5 columns]

Dropping empty instances

In [6]:
df.dropna(how='all', inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7236 entries, 1 to 7236
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Parámetro                 7236 non-null   object
 1   Fecha                     7236 non-null   object
 2   Hora                      7236 non-null   object
 3   Concentraciones horarias  7236 non-null   float64
 4   Unidad                    7236 non-null   object
dtypes: float64(1), object(4)
memory usage: 339.2+ KB

Creating the complete dataset

In [8]:
for df_i in titles[1:]:
    df_i = pd.read_excel(PATH + df_i)
    df_i = df_i.dropna(how='all')
    df = pd.concat([df, df_i], axis=0)

In [9]:
df

     Parámetro       Fecha           Hora  Concentraciones horarias Unidad
1           CO  2019-01-07  17:00 - 18:00                      0.00    ppm
2           CO  2019-01-14    7:00 - 8:00                      0.00    ppm
3           CO  2019-02-06  12:00 - 13:00                      0.00    ppm
4           CO  2019-02-08  13:00 - 14:00                      0.00    ppm
5           CO  2019-02-08  19:00 - 20:00                      0.00    ppm
...        ...         ...            ...                       ...    ...
5764        CO  2025-01-30  12:00 - 13:00                      1.49    ppm
5765        CO  2025-01-30  13:00 - 14:00                      1.60    ppm
5766        CO  2025-01-30  14:00 - 15:00                      1.64    ppm
5767        CO  2025-01-30  15:00 - 16:00                      1.65    ppm
5768        CO  2025-01-30  16:00 - 17:00                      1.69    ppm

[33053 rows x 5 columns]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33053 entries, 1 to 5768
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Parámetro                 33053 non-null  object
 1   Fecha                     33053 non-null  object
 2   Hora                      33053 non-null  object
 3   Concentraciones horarias  33053 non-null  float64
 4   Unidad                    33053 non-null  object
dtypes: float64(1), object(4)
memory usage: 1.5+ MB

Dropping unnecessary columns

In [11]:
df.drop(["Parámetro", "Hora", "Unidad"], axis=1, inplace=True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33053 entries, 1 to 5768
Data columns (total 2 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Fecha                     33053 non-null  object
 1   Concentraciones horarias  33053 non-null  float64
dtypes: float64(1), object(1)
memory usage: 774.7+ KB

Formating dates

In [13]:
df["Fecha"] = pd.to_datetime(df["Fecha"])

In [14]:
df.head()

       Fecha  Concentraciones horarias
1 2019-01-07                       0.0
2 2019-01-14                       0.0
3 2019-02-06                       0.0
4 2019-02-08                       0.0
5 2019-02-08                       0.0

Changing column names

In [15]:
df.rename(columns={"Concentraciones horarias":"CO"}, inplace=True)

In [16]:
df

          Fecha    CO
1    2019-01-07  0.00
2    2019-01-14  0.00
3    2019-02-06  0.00
4    2019-02-08  0.00
5    2019-02-08  0.00
...         ...   ...
5764 2025-01-30  1.49
5765 2025-01-30  1.60
5766 2025-01-30  1.64
5767 2025-01-30  1.65
5768 2025-01-30  1.69

[33053 rows x 2 columns]

Grouping per day and taking in consideration the average

In [17]:
df = df.groupby("Fecha", as_index=False).mean()

In [18]:
df

          Fecha        CO
0    2019-01-07  0.000000
1    2019-01-14  0.000000
2    2019-02-06  0.000000
3    2019-02-08  0.000000
4    2019-02-09  0.000000
...         ...       ...
1598 2025-01-26  0.955417
1599 2025-01-27  1.091250
1600 2025-01-28  1.066667
1601 2025-01-29  0.934583
1602 2025-01-30  1.154375

[1603 rows x 2 columns]

In [19]:
df.describe()

                               Fecha           CO
count                           1603  1603.000000
mean   2022-01-13 06:17:17.554584832     0.464167
min              2019-01-07 00:00:00     0.000000
25%              2020-04-07 12:00:00     0.093750
50%              2021-09-16 00:00:00     0.353750
75%              2023-09-01 12:00:00     0.627446
max              2025-01-30 00:00:00     8.640000
std                              NaN     0.620345

In [20]:
df.to_csv(PATH + "CO.csv", index=False)