In [1]:
import pandas as pd
import os

In [2]:
PATH = "../Datasets/O3/"

In [3]:
titles = os.listdir(PATH)

Reading files

In [4]:
df = pd.read_excel(PATH + titles[0])

In [5]:
df

     Parámetro       Fecha           Hora  Concentraciones horarias Unidad
0          NaN         NaN            NaN                       NaN    NaN
1           O3  2019-01-01   23:00 - 0:00                     0.001    ppm
2           O3  2019-01-01    0:00 - 1:00                     0.001    ppm
3           O3  2019-01-01    1:00 - 2:00                     0.001    ppm
4           O3  2019-01-01    5:00 - 6:00                     0.002    ppm
...        ...         ...            ...                       ...    ...
8909        O3  2020-03-02  18:00 - 19:00                     0.033    ppm
8910        O3  2020-03-02  19:00 - 20:00                     0.023    ppm
8911        O3  2020-03-02  20:00 - 21:00                     0.026    ppm
8912        O3  2020-03-02  21:00 - 22:00                     0.022    ppm
8913        O3  2020-03-02  22:00 - 23:00                     0.017    ppm

[8914 rows x 5 columns]

Dropping empty instances

In [9]:
df.dropna(how='all', inplace=True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8913 entries, 1 to 8913
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Parámetro                 8913 non-null   object
 1   Fecha                     8913 non-null   object
 2   Hora                      8913 non-null   object
 3   Concentraciones horarias  8913 non-null   float64
 4   Unidad                    8913 non-null   object
dtypes: float64(1), object(4)
memory usage: 417.8+ KB

Creating the complete dataset

In [11]:
for df_i in titles[1:]:
    df_i = pd.read_excel(PATH + df_i)
    df_i = df_i.dropna(how='all')
    df = pd.concat([df, df_i], axis=0)

In [12]:
df

     Parámetro       Fecha           Hora  Concentraciones horarias Unidad
1           O3  2019-01-01   23:00 - 0:00                     0.001    ppm
2           O3  2019-01-01    0:00 - 1:00                     0.001    ppm
3           O3  2019-01-01    1:00 - 2:00                     0.001    ppm
4           O3  2019-01-01    5:00 - 6:00                     0.002    ppm
5           O3  2019-01-02    0:00 - 1:00                     0.001    ppm
...        ...         ...            ...                       ...    ...
6778        O3  2025-03-09  17:00 - 18:00                     0.000    ppm
6779        O3  2025-03-09  18:00 - 19:00                     0.000    ppm
6780        O3  2025-03-09  19:00 - 20:00                     0.000    ppm
6781        O3  2025-03-09  20:00 - 21:00                     0.000    ppm
6782        O3  2025-03-09  21:00 - 22:00                     0.000    ppm

[33712 rows x 5 columns]

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33712 entries, 1 to 6782
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Parámetro                 33712 non-null  object
 1   Fecha                     33712 non-null  object
 2   Hora                      33712 non-null  object
 3   Concentraciones horarias  33712 non-null  float64
 4   Unidad                    33712 non-null  object
dtypes: float64(1), object(4)
memory usage: 1.5+ MB

Dropping unnecessary columns

In [14]:
df.drop(["Parámetro", "Hora", "Unidad"], axis=1, inplace=True)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33712 entries, 1 to 6782
Data columns (total 2 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Fecha                     33712 non-null  object
 1   Concentraciones horarias  33712 non-null  float64
dtypes: float64(1), object(1)
memory usage: 790.1+ KB

Formating dates

In [16]:
df["Fecha"] = pd.to_datetime(df["Fecha"])

In [17]:
df.head()

       Fecha  Concentraciones horarias
1 2019-01-01                     0.001
2 2019-01-01                     0.001
3 2019-01-01                     0.001
4 2019-01-01                     0.002
5 2019-01-02                     0.001

Changing column names

In [20]:
df.rename(columns={"Concentraciones horarias":"O3"}, inplace=True)

In [21]:
df

          Fecha     O3
1    2019-01-01  0.001
2    2019-01-01  0.001
3    2019-01-01  0.001
4    2019-01-01  0.002
5    2019-01-02  0.001
...         ...    ...
6778 2025-03-09  0.000
6779 2025-03-09  0.000
6780 2025-03-09  0.000
6781 2025-03-09  0.000
6782 2025-03-09  0.000

[33712 rows x 2 columns]

Grouping per day and taking in consideration the average

In [22]:
df = df.groupby("Fecha", as_index=False).mean()

In [23]:
df

          Fecha        O3
0    2019-01-01  0.001250
1    2019-01-02  0.002778
2    2019-01-03  0.004400
3    2019-01-04  0.001889
4    2019-01-05  0.003143
...         ...       ...
1563 2025-03-05  0.000000
1564 2025-03-06  0.000000
1565 2025-03-07  0.000000
1566 2025-03-08  0.000000
1567 2025-03-09  0.000000

[1568 rows x 2 columns]

Transformation ppm to ppb

In [24]:
df["O3"] = df["O3"]*1000

In [25]:
df

          Fecha        O3
0    2019-01-01  1.250000
1    2019-01-02  2.777778
2    2019-01-03  4.400000
3    2019-01-04  1.888889
4    2019-01-05  3.142857
...         ...       ...
1563 2025-03-05  0.000000
1564 2025-03-06  0.000000
1565 2025-03-07  0.000000
1566 2025-03-08  0.000000
1567 2025-03-09  0.000000

[1568 rows x 2 columns]

In [26]:
df.describe()

                               Fecha           O3
count                           1568  1568.000000
mean   2022-03-12 20:49:53.877551104    21.136951
min              2019-01-01 00:00:00     0.000000
25%              2020-02-12 18:00:00     4.400000
50%              2022-11-22 12:00:00    22.541667
75%              2023-12-27 06:00:00    32.166667
max              2025-03-09 00:00:00   133.750000
std                              NaN    14.914153

In [27]:
df.to_csv(PATH + "O3.csv", index=False)