In [1]:
import pandas as pd
import os

In [2]:
PATH = "../Datasets/PM10/"

In [3]:
titles = os.listdir(PATH)

Reading files

In [4]:
df = pd.read_excel(PATH + titles[0])

In [5]:
df

     Parámetro       Fecha           Hora  Concentraciones horarias Unidad
0          NaN         NaN            NaN                       NaN    NaN
1         PM10  2018-03-02   23:00 - 0:00                       0.0  µg/m³
2         PM10  2018-03-02    0:00 - 1:00                       0.0  µg/m³
3         PM10  2018-03-02    1:00 - 2:00                       0.0  µg/m³
4         PM10  2018-03-02    2:00 - 3:00                       0.0  µg/m³
...        ...         ...            ...                       ...    ...
4335      PM10  2019-10-16  10:00 - 11:00                       0.0  µg/m³
4336      PM10  2019-10-16  12:00 - 13:00                       0.0  µg/m³
4337      PM10  2019-10-16  13:00 - 14:00                       1.0  µg/m³
4338      PM10  2019-10-16  14:00 - 15:00                       0.0  µg/m³
4339      PM10  2020-02-06  12:00 - 13:00                       0.0  µg/m³

[4340 rows x 5 columns]

Dropping empty instances

In [6]:
df.dropna(how='all', inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4339 entries, 1 to 4339
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Parámetro                 4339 non-null   object
 1   Fecha                     4339 non-null   object
 2   Hora                      4339 non-null   object
 3   Concentraciones horarias  4339 non-null   float64
 4   Unidad                    4339 non-null   object
dtypes: float64(1), object(4)
memory usage: 203.4+ KB

Creating the complete dataset

In [8]:
for df_i in titles[1:]:
    df_i = pd.read_excel(PATH + df_i)
    df_i = df_i.dropna(how='all')
    df = pd.concat([df, df_i], axis=0)

In [9]:
df

     Parámetro       Fecha           Hora  Concentraciones horarias Unidad
1         PM10  2018-03-02   23:00 - 0:00                       0.0  µg/m³
2         PM10  2018-03-02    0:00 - 1:00                       0.0  µg/m³
3         PM10  2018-03-02    1:00 - 2:00                       0.0  µg/m³
4         PM10  2018-03-02    2:00 - 3:00                       0.0  µg/m³
5         PM10  2018-03-02    3:00 - 4:00                       0.0  µg/m³
...        ...         ...            ...                       ...    ...
7405      PM10  2025-03-09  18:00 - 19:00                     -14.0  µg/m³
7406      PM10  2025-03-09  19:00 - 20:00                     -14.0  µg/m³
7407      PM10  2025-03-09  20:00 - 21:00                     -14.0  µg/m³
7408      PM10  2025-03-09  21:00 - 22:00                     -14.0  µg/m³
7409      PM10  2025-03-09  22:00 - 23:00                     -14.0  µg/m³

[31534 rows x 5 columns]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31534 entries, 1 to 7409
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Parámetro                 31534 non-null  object
 1   Fecha                     31534 non-null  object
 2   Hora                      31534 non-null  object
 3   Concentraciones horarias  31534 non-null  float64
 4   Unidad                    31534 non-null  object
dtypes: float64(1), object(4)
memory usage: 1.4+ MB

Dropping unnecessary columns

In [11]:
df.drop(["Parámetro", "Hora", "Unidad"], axis=1, inplace=True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31534 entries, 1 to 7409
Data columns (total 2 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Fecha                     31534 non-null  object
 1   Concentraciones horarias  31534 non-null  float64
dtypes: float64(1), object(1)
memory usage: 739.1+ KB

Formating dates

In [13]:
df["Fecha"] = pd.to_datetime(df["Fecha"])

In [14]:
df.head()

       Fecha  Concentraciones horarias
1 2018-03-02                       0.0
2 2018-03-02                       0.0
3 2018-03-02                       0.0
4 2018-03-02                       0.0
5 2018-03-02                       0.0

Changing column names

In [15]:
df.rename(columns={"Concentraciones horarias":"PM10"}, inplace=True)

In [16]:
df

          Fecha  PM10
1    2018-03-02   0.0
2    2018-03-02   0.0
3    2018-03-02   0.0
4    2018-03-02   0.0
5    2018-03-02   0.0
...         ...   ...
7405 2025-03-09 -14.0
7406 2025-03-09 -14.0
7407 2025-03-09 -14.0
7408 2025-03-09 -14.0
7409 2025-03-09 -14.0

[31534 rows x 2 columns]

Grouping per day and taking in consideration the average

In [17]:
df = df.groupby("Fecha", as_index=False).mean()

In [18]:
df

          Fecha       PM10
0    2018-03-02   0.333333
1    2018-03-03   0.166667
2    2018-03-04   0.000000
3    2018-03-05   0.166667
4    2018-03-06   0.208333
...         ...        ...
1546 2025-03-05 -14.000000
1547 2025-03-06 -14.000000
1548 2025-03-07 -14.000000
1549 2025-03-08 -14.000000
1550 2025-03-09 -14.000000

[1551 rows x 2 columns]

In [19]:
df.describe()

                               Fecha         PM10
count                           1551  1551.000000
mean   2022-02-28 18:32:15.783365632    -1.085457
min              2018-03-02 00:00:00   -14.000000
25%              2020-06-29 12:00:00     0.000000
50%              2022-12-08 00:00:00     0.000000
75%              2023-12-31 12:00:00     0.000000
max              2025-03-09 00:00:00   235.500000
std                              NaN     8.702051

In [20]:
df.to_csv(PATH + "PM10.csv", index=False)