In [1]:
import pandas as pd
import os

In [2]:
PATH = "../Datasets/PM2.5/"

In [3]:
titles = os.listdir(PATH)

Reading files

In [4]:
df = pd.read_excel(PATH + titles[0])

In [5]:
df

      Parámetro       Fecha           Hora  Concentraciones horarias Unidad
0           NaN         NaN            NaN                       NaN    NaN
1         PM2.5  2018-03-22    7:00 - 8:00                     946.0  µg/m³
2         PM2.5  2018-03-22    8:00 - 9:00                     948.0  µg/m³
3         PM2.5  2018-03-22   9:00 - 10:00                     947.0  µg/m³
4         PM2.5  2018-03-22  10:00 - 11:00                     946.0  µg/m³
...         ...         ...            ...                       ...    ...
11253     PM2.5  2020-03-02  18:00 - 19:00                      14.0  µg/m³
11254     PM2.5  2020-03-02  19:00 - 20:00                      14.0  µg/m³
11255     PM2.5  2020-03-02  20:00 - 21:00                      15.0  µg/m³
11256     PM2.5  2020-03-02  21:00 - 22:00                      17.0  µg/m³
11257     PM2.5  2020-03-02  22:00 - 23:00                      24.0  µg/m³

[11258 rows x 5 columns]

Dropping empty instances

In [6]:
df.dropna(how='all', inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11257 entries, 1 to 11257
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Parámetro                 11257 non-null  object
 1   Fecha                     11257 non-null  object
 2   Hora                      11257 non-null  object
 3   Concentraciones horarias  11257 non-null  float64
 4   Unidad                    11257 non-null  object
dtypes: float64(1), object(4)
memory usage: 527.7+ KB

Creating the complete dataset

In [8]:
for df_i in titles[1:]:
    df_i = pd.read_excel(PATH + df_i)
    df_i = df_i.dropna(how='all')
    df = pd.concat([df, df_i], axis=0)

In [9]:
df

     Parámetro       Fecha           Hora  Concentraciones horarias Unidad
1        PM2.5  2018-03-22    7:00 - 8:00                     946.0  µg/m³
2        PM2.5  2018-03-22    8:00 - 9:00                     948.0  µg/m³
3        PM2.5  2018-03-22   9:00 - 10:00                     947.0  µg/m³
4        PM2.5  2018-03-22  10:00 - 11:00                     946.0  µg/m³
5        PM2.5  2018-03-22  11:00 - 12:00                     946.0  µg/m³
...        ...         ...            ...                       ...    ...
7389     PM2.5  2025-03-09  18:00 - 19:00                       6.0  µg/m³
7390     PM2.5  2025-03-09  19:00 - 20:00                      10.0  µg/m³
7391     PM2.5  2025-03-09  20:00 - 21:00                      10.0  µg/m³
7392     PM2.5  2025-03-09  21:00 - 22:00                      12.0  µg/m³
7393     PM2.5  2025-03-09  22:00 - 23:00                      15.0  µg/m³

[49212 rows x 5 columns]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49212 entries, 1 to 7393
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Parámetro                 49212 non-null  object
 1   Fecha                     49212 non-null  object
 2   Hora                      49212 non-null  object
 3   Concentraciones horarias  49212 non-null  float64
 4   Unidad                    49212 non-null  object
dtypes: float64(1), object(4)
memory usage: 2.3+ MB

Dropping unnecessary columns

In [11]:
df.drop(["Parámetro", "Hora", "Unidad"], axis=1, inplace=True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49212 entries, 1 to 7393
Data columns (total 2 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Fecha                     49212 non-null  object
 1   Concentraciones horarias  49212 non-null  float64
dtypes: float64(1), object(1)
memory usage: 1.1+ MB

Formating dates

In [13]:
df["Fecha"] = pd.to_datetime(df["Fecha"])

In [14]:
df.head()

       Fecha  Concentraciones horarias
1 2018-03-22                     946.0
2 2018-03-22                     948.0
3 2018-03-22                     947.0
4 2018-03-22                     946.0
5 2018-03-22                     946.0

Changing column names

In [15]:
df.rename(columns={"Concentraciones horarias":"PM2.5"}, inplace=True)

In [16]:
df

          Fecha  PM2.5
1    2018-03-22  946.0
2    2018-03-22  948.0
3    2018-03-22  947.0
4    2018-03-22  946.0
5    2018-03-22  946.0
...         ...    ...
7389 2025-03-09    6.0
7390 2025-03-09   10.0
7391 2025-03-09   10.0
7392 2025-03-09   12.0
7393 2025-03-09   15.0

[49212 rows x 2 columns]

Grouping per day and taking in consideration the average

In [17]:
df = df.groupby("Fecha", as_index=False).mean()

In [18]:
df

          Fecha       PM2.5
0    2018-03-22  484.437500
1    2018-03-23  146.545455
2    2018-04-18    2.000000
3    2018-05-06   -1.000000
4    2018-05-27  963.000000
...         ...         ...
2112 2025-03-05   21.625000
2113 2025-03-06   19.250000
2114 2025-03-07   18.250000
2115 2025-03-08   20.833333
2116 2025-03-09   17.875000

[2117 rows x 2 columns]

In [19]:
df.describe()

                               Fecha        PM2.5
count                           2117  2117.000000
mean   2021-12-02 08:18:35.540859648    44.482433
min              2018-03-22 00:00:00   -15.000000
25%              2020-03-26 00:00:00    12.791667
50%              2021-09-22 00:00:00    19.000000
75%              2023-08-09 00:00:00    26.200000
max              2025-03-09 00:00:00   985.291667
std                              NaN   135.849550

In [20]:
df.to_csv(PATH + "PM2.5.csv", index=False)