In [1]:
import pandas as pd
import os

In [2]:
PATH = "../Datasets/SO2/"

In [3]:
titles = os.listdir(PATH)

Reading files

In [4]:
df = pd.read_excel(PATH + titles[0])

In [5]:
df

     Parámetro       Fecha           Hora  Concentraciones horarias Unidad
0          NaN         NaN            NaN                       NaN    NaN
1          SO2  2018-03-02   23:00 - 0:00                     0.027    ppm
2          SO2  2018-03-02    0:00 - 1:00                     0.024    ppm
3          SO2  2018-03-02    1:00 - 2:00                     0.023    ppm
4          SO2  2018-03-02    2:00 - 3:00                     0.019    ppm
...        ...         ...            ...                       ...    ...
1437       SO2  2019-10-28    2:00 - 3:00                     0.002    ppm
1438       SO2  2019-10-28    3:00 - 4:00                     0.001    ppm
1439       SO2  2019-10-28  10:00 - 11:00                     0.001    ppm
1440       SO2  2019-10-28  14:00 - 15:00                     0.179    ppm
1441       SO2  2019-10-28  15:00 - 16:00                     0.044    ppm

[1442 rows x 5 columns]

Dropping empty instances

In [6]:
df.dropna(how='all', inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1441 entries, 1 to 1441
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Parámetro                 1441 non-null   object
 1   Fecha                     1441 non-null   object
 2   Hora                      1441 non-null   object
 3   Concentraciones horarias  1441 non-null   float64
 4   Unidad                    1441 non-null   object
dtypes: float64(1), object(4)
memory usage: 67.5+ KB

Creating the complete dataset

In [8]:
for df_i in titles[1:]:
    df_i = pd.read_excel(PATH + df_i)
    df_i = df_i.dropna(how='all')
    df = pd.concat([df, df_i], axis=0)

In [9]:
df

     Parámetro       Fecha           Hora  Concentraciones horarias Unidad
1          SO2  2018-03-02   23:00 - 0:00                     0.027    ppm
2          SO2  2018-03-02    0:00 - 1:00                     0.024    ppm
3          SO2  2018-03-02    1:00 - 2:00                     0.023    ppm
4          SO2  2018-03-02    2:00 - 3:00                     0.019    ppm
5          SO2  2018-03-02    3:00 - 4:00                     0.019    ppm
...        ...         ...            ...                       ...    ...
7575       SO2  2025-03-09  18:00 - 19:00                     0.000    ppm
7576       SO2  2025-03-09  19:00 - 20:00                     0.000    ppm
7577       SO2  2025-03-09  20:00 - 21:00                     0.000    ppm
7578       SO2  2025-03-09  21:00 - 22:00                     0.000    ppm
7579       SO2  2025-03-09  22:00 - 23:00                     0.000    ppm

[21522 rows x 5 columns]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21522 entries, 1 to 7579
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Parámetro                 21522 non-null  object
 1   Fecha                     21522 non-null  object
 2   Hora                      21522 non-null  object
 3   Concentraciones horarias  21522 non-null  float64
 4   Unidad                    21522 non-null  object
dtypes: float64(1), object(4)
memory usage: 1008.8+ KB

Dropping unnecessary columns

In [11]:
df.drop(["Parámetro", "Hora", "Unidad"], axis=1, inplace=True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21522 entries, 1 to 7579
Data columns (total 2 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Fecha                     21522 non-null  object
 1   Concentraciones horarias  21522 non-null  float64
dtypes: float64(1), object(1)
memory usage: 504.4+ KB

Formating dates

In [13]:
df["Fecha"] = pd.to_datetime(df["Fecha"])

In [14]:
df.head()

       Fecha  Concentraciones horarias
1 2018-03-02                     0.027
2 2018-03-02                     0.024
3 2018-03-02                     0.023
4 2018-03-02                     0.019
5 2018-03-02                     0.019

Changing column names

In [15]:
df.rename(columns={"Concentraciones horarias":"SO2"}, inplace=True)

In [16]:
df

          Fecha    SO2
1    2018-03-02  0.027
2    2018-03-02  0.024
3    2018-03-02  0.023
4    2018-03-02  0.019
5    2018-03-02  0.019
...         ...    ...
7575 2025-03-09  0.000
7576 2025-03-09  0.000
7577 2025-03-09  0.000
7578 2025-03-09  0.000
7579 2025-03-09  0.000

[21522 rows x 2 columns]

Grouping per day and taking in consideration the average

In [17]:
df = df.groupby("Fecha", as_index=False).mean()

In [18]:
df

         Fecha       SO2
0   2018-03-02  0.032458
1   2018-03-03  0.039167
2   2018-03-04  0.039958
3   2018-03-05  0.041500
4   2018-03-06  0.040708
..         ...       ...
922 2025-03-05  0.000000
923 2025-03-06  0.000000
924 2025-03-07  0.000000
925 2025-03-08  0.000000
926 2025-03-09  0.000000

[927 rows x 2 columns]

Transformation ppm to ppb

In [19]:
df["SO2"] = df["SO2"]*1000

In [20]:
df

         Fecha        SO2
0   2018-03-02  32.458333
1   2018-03-03  39.166667
2   2018-03-04  39.958333
3   2018-03-05  41.500000
4   2018-03-06  40.708333
..         ...        ...
922 2025-03-05   0.000000
923 2025-03-06   0.000000
924 2025-03-07   0.000000
925 2025-03-08   0.000000
926 2025-03-09   0.000000

[927 rows x 2 columns]

In [22]:
df.describe()

                               Fecha         SO2
count                            927  927.000000
mean   2023-06-30 04:30:17.475728128    2.582873
min              2018-03-02 00:00:00    0.000000
25%              2023-02-27 12:00:00    0.000000
50%              2023-10-17 00:00:00    0.000000
75%              2024-07-13 12:00:00    0.000000
max              2025-03-09 00:00:00   71.666667
std                              NaN   10.271357

In [23]:
df.to_csv(PATH + "SO2.csv", index=False)