In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [2]:
pathMeteorology = "../Datasets/Meteorology/"
pathAirQuality = "../Datasets/AirQuality/"

In [3]:
titlesAirQuality = ["2023-05-MORE_minuto_L1_caire.csv",
                    "2023-06-MORE_minuto_L1_caire.csv",
                    "2023-07-MORE_minuto_L1_caire.csv",
                    "2023-08-MORE_minuto_L1_caire.csv",
                    "2023-09-MORE_minuto_L1_caire.csv",
                    "2023-10-MORE_minuto_L1_caire.csv",
                    "2023-11-MORE_minuto_L1_caire.csv",
                    "2023-12-MORE_minuto_L1_caire.csv",
                    "2024-01-MORE_minuto_L1_caire.csv",
                    "2024-02-MORE_minuto_L1_caire.csv",
                    "2024-03-MORE_minuto_L1_caire.csv",]

In [4]:
titlesMeteorology = ["2023-05-more_minuto_L1.csv",
                     "2023-06-more_minuto_L1.csv",
                     "2023-07-more_minuto_L1.csv",
                     "2023-08-more_minuto_L1.csv",
                     "2023-09-more_minuto_L1.csv",
                     "2023-10-more_minuto_L1.csv",
                     "2023-11-more_minuto_L1.csv",
                     "2023-12-more_minuto_L1.csv",
                     "2024-01-more_minuto_L1.csv",
                     "2024-02-more_minuto_L1.csv",
                     "2024-03-more_minuto_L1.csv"]

## **Air quality**

In [39]:
for i, title in enumerate(titlesAirQuality):
    if i == 0: 
        dfAir = pd.read_csv(pathAirQuality + title, skiprows=7)
        infoAirQualityVariables = dfAir.iloc[0,:]
        dfAir.drop(0, axis=0, inplace=True)
    else:
        following = pd.read_csv(pathAirQuality + title, skiprows=7)
        following.drop(0, axis=0, inplace=True) 
        dfAir = pd.concat([dfAir, following], ignore_index=True)

In [31]:
dfAir.head()

,Time,O3,O3_flag,SO2,SO2_flag,NO2,NO2_flag,NO,NO_flag,CO,CO_flag,PM10,PM10_flag,PM2.5,PM2.5_flag
0,2023-05-01 00:00:00,55.48,OK,NaN,OS,0.72,OK,0.01,BDL,0.25,OK,25.47,OK,16.39,OK
1,2023-05-01 00:01:00,55.49,OK,NaN,OS,0.81,OK,0.08,BDL,0.26,OK,25.74,OK,16.47,OK
2,2023-05-01 00:02:00,55.4,OK,NaN,OS,0.93,OK,-0.05,BDL,0.27,OK,26.6,OK,17.06,OK
3,2023-05-01 00:03:00,55.2,OK,NaN,OS,0.87,OK,0.03,BDL,0.28,OK,27.59,OK,18.19,OK
4,2023-05-01 00:04:00,55.41,OK,NaN,OS,0.98,OK,-0.06,BDL,0.28,OK,27.83,OK,18.5,OK

In [32]:
dfAir.shape

(453131, 15)

In [34]:
dfAir.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 453131 entries, 0 to 453130
Data columns (total 15 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Time        453131 non-null  object
 1   O3          447332 non-null  object
 2   O3_flag     453131 non-null  object
 3   SO2         0 non-null       object
 4   SO2_flag    453131 non-null  object
 5   NO2         452885 non-null  object
 6   NO2_flag    453131 non-null  object
 7   NO          452885 non-null  object
 8   NO_flag     453131 non-null  object
 9   CO          453030 non-null  object
 10  CO_flag     453131 non-null  object
 11  PM10        453023 non-null  object
 12  PM10_flag   453131 non-null  object
 13  PM2.5       453020 non-null  object
 14  PM2.5_flag  453131 non-null  object
dtypes: object(15)
memory usage: 51.9+ MB

In [40]:
infoAirQualityVariables

Time          yyyy-mm-dd HH:MM:SS
O3                            ppb
O3_flag                      flag
SO2                           ppb
SO2_flag                     flag
NO2                           ppb
NO2_flag                     flag
NO                            ppb
NO_flag                      flag
CO                            ppm
CO_flag                      flag
PM10                       ug/m^3
PM10_flag                    flag
PM2.5                      ug/m^3
PM2.5_flag                   flag
Name: 0, dtype: object

## **Meteorology**

In [41]:
for i, title in enumerate(titlesMeteorology):
    if i == 0: 
        dfMeteorology = pd.read_csv(pathMeteorology + title, skiprows=6, encoding='latin1')
        infoMeteorologyVariables = dfMeteorology.iloc[0,:]
        dfMeteorology.drop(0, axis=0, inplace=True)
    else:
        following = pd.read_csv(pathMeteorology + title, skiprows=6, encoding='latin1')
        following.drop(0, axis=0, inplace=True)
        dfMeteorology = pd.concat([dfMeteorology, following], ignore_index=True)

In [42]:
dfMeteorology.head()

,TIMESTAMP,Temp_Avg,RH_Avg,WSpeed_Avg,WSpeed_Max,WDir_Avg,WDir_SD,Rain_Tot,Press_Avg,Rad_Avg
0,2023-05-01 00:00:00,19.15,31.64,3.521,4.25,173.6,14.26,0.0,805.409,-1.521
1,2023-05-01 00:01:00,19.11,31.66,3.644,4.372,171.0,10.53,0.0,805.524,-1.521
2,2023-05-01 00:02:00,19.09,31.7,4.139,5.253,178.6,15.72,0.0,805.436,-2.074
3,2023-05-01 00:03:00,19.1,31.76,3.692,4.925,186.1,17.43,0.0,805.45,-2.397
4,2023-05-01 00:04:00,19.1,31.76,2.198,4.301,211.5,21.67,0.0,805.504,-1.706

In [44]:
dfMeteorology.shape

(421031, 10)

In [45]:
dfMeteorology.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421031 entries, 0 to 421030
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   TIMESTAMP   421031 non-null  object
 1   Temp_Avg    421024 non-null  object
 2   RH_Avg      421024 non-null  object
 3   WSpeed_Avg  421024 non-null  object
 4   WSpeed_Max  421024 non-null  object
 5   WDir_Avg    421024 non-null  object
 6   WDir_SD     421024 non-null  object
 7   Rain_Tot    421024 non-null  object
 8   Press_Avg   421024 non-null  object
 9   Rad_Avg     421018 non-null  object
dtypes: object(10)
memory usage: 32.1+ MB

In [46]:
infoMeteorologyVariables

TIMESTAMP     yyyy-mm-dd HH:MM:SS
Temp_Avg                       °C
RH_Avg                          %
WSpeed_Avg                    m/s
WSpeed_Max                    m/s
WDir_Avg                      deg
WDir_SD                       deg
Rain_Tot                       mm
Press_Avg                     hPa
Rad_Avg                     W/m^2
Name: 0, dtype: object

## **Formatting data types**

**Air quality**

In [47]:
flags = ["O3_flag", "SO2_flag", "NO2_flag", "NO_flag", "CO_flag", "PM10_flag", "PM2.5_flag"]
numeric = ["O3", "SO2", "NO2", "NO", "CO", "PM10", "PM2.5"]

In [48]:
for flag in flags: dfAir[flag] = dfAir[flag].astype("string")

In [49]:
for num in numeric: dfAir[num] = dfAir[num].astype("float64")

In [53]:
dfAir["Time"] = pd.to_datetime(dfAir["Time"])

In [54]:
dfAir.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 453131 entries, 0 to 453130
Data columns (total 15 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Time        453131 non-null  datetime64[ns]
 1   O3          447332 non-null  float64
 2   O3_flag     453131 non-null  string
 3   SO2         0 non-null       float64
 4   SO2_flag    453131 non-null  string
 5   NO2         452885 non-null  float64
 6   NO2_flag    453131 non-null  string
 7   NO          452885 non-null  float64
 8   NO_flag     453131 non-null  string
 9   CO          453030 non-null  float64
 10  CO_flag     453131 non-null  string
 11  PM10        453023 non-null  float64
 12  PM10_flag   453131 non-null  string
 13  PM2.5       453020 non-null  float64
 14  PM2.5_flag  453131 non-null  string
dtypes: datetime64[ns](1), float64(7), string(7)
memory usage: 51.9 MB

**Meteorology**

In [57]:
for column in dfMeteorology.columns: 
    if column == "TIMESTAMP":
        dfMeteorology["Time"] = pd.to_datetime(dfMeteorology["TIMESTAMP"])
        dfMeteorology.drop("TIMESTAMP", axis=1, inplace=True)
    else: dfMeteorology[column] = dfMeteorology[column].astype("float64")

In [58]:
dfMeteorology.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421031 entries, 0 to 421030
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Temp_Avg    421024 non-null  float64
 1   RH_Avg      421024 non-null  float64
 2   WSpeed_Avg  421024 non-null  float64
 3   WSpeed_Max  421024 non-null  float64
 4   WDir_Avg    421024 non-null  float64
 5   WDir_SD     421024 non-null  float64
 6   Rain_Tot    421024 non-null  float64
 7   Press_Avg   421024 non-null  float64
 8   Rad_Avg     421018 non-null  float64
 9   Time        421031 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(9)
memory usage: 32.1 MB

## **Merge both dataframes**

In [62]:
dfComplete = pd.merge(dfAir, dfMeteorology, how='inner', on="Time").drop_duplicates()

In [63]:
dfComplete.head()

,Time,O3,O3_flag,SO2,SO2_flag,NO2,NO2_flag,NO,NO_flag,CO,...,PM2.5_flag,Temp_Avg,RH_Avg,WSpeed_Avg,WSpeed_Max,WDir_Avg,WDir_SD,Rain_Tot,Press_Avg,Rad_Avg
0,2023-05-01 00:00:00,55.48,OK,NaN,OS,0.72,OK,0.01,BDL,0.25,...,OK,19.15,31.64,3.521,4.250,173.6,14.26,0.0,805.409,-1.521
1,2023-05-01 00:01:00,55.49,OK,NaN,OS,0.81,OK,0.08,BDL,0.26,...,OK,19.11,31.66,3.644,4.372,171.0,10.53,0.0,805.524,-1.521
2,2023-05-01 00:02:00,55.40,OK,NaN,OS,0.93,OK,-0.05,BDL,0.27,...,OK,19.09,31.70,4.139,5.253,178.6,15.72,0.0,805.436,-2.074
3,2023-05-01 00:03:00,55.20,OK,NaN,OS,0.87,OK,0.03,BDL,0.28,...,OK,19.10,31.76,3.692,4.925,186.1,17.43,0.0,805.450,-2.397
4,2023-05-01 00:04:00,55.41,OK,NaN,OS,0.98,OK,-0.06,BDL,0.28,...,OK,19.10,31.76,2.198,4.301,211.5,21.67,0.0,805.504,-1.706

In [64]:
dfComplete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 408971 entries, 0 to 408970
Data columns (total 24 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Time        408971 non-null  datetime64[ns]
 1   O3          403172 non-null  float64
 2   O3_flag     408971 non-null  string
 3   SO2         0 non-null       float64
 4   SO2_flag    408971 non-null  string
 5   NO2         408725 non-null  float64
 6   NO2_flag    408971 non-null  string
 7   NO          408725 non-null  float64
 8   NO_flag     408971 non-null  string
 9   CO          408870 non-null  float64
 10  CO_flag     408971 non-null  string
 11  PM10        408863 non-null  float64
 12  PM10_flag   408971 non-null  string
 13  PM2.5       408860 non-null  float64
 14  PM2.5_flag  408971 non-null  string
 15  Temp_Avg    408964 non-null  float64
 16  RH_Avg      408964 non-null  float64
 17  WSpeed_Avg  408964 non-null  float64
 18  WSpeed_Max  408964 non-null  float64
 19  WDir_Avg    408964 non-null  float64
 20  WDir_SD     408964 non-null  float64
 21  Rain_Tot    408964 non-null  float64
 22  Press_Avg   408964 non-null  float64
 23  Rad_Avg     408958 non-null  float64
dtypes: datetime64[ns](1), float64(16), string(7)
memory usage: 74.9 MB

## **Creating de csv file**

In [66]:
dfComplete.to_csv("Atmospheric Data.csv", index=False)